{% extends 'templates/base.html' %}

{% block content %}
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="content mt-2" style="
        font-weight: 600;
        color: black">
                <div class="row">
                    <div class="col">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                </div>
            </div>
            <input type="submit" value="Create" class="btn btn-warning" style="
        font-weight: 600;
        color: black;
        border-radius: 5px;
        border: none;
        cursor: pointer">
        </form>
    </div>
{% endblock %}